MONGO_URL=mongodb://localhost:27017
DB_NAME=axon_agent
JWT_SECRET=d
ADMIN_EMAIL=admin@axon.dev
ADMIN_PASSWORD=admin123
GROQ_API_KEY=gsk_R
E2B_API_KEY=
TAVILY_API_KEY=tv
MODEL_NAME=llama-3.3-70b-versatile
FRONTEND_URL=http://localhost:3000
